<header id="header"  class="animated fadeInDown" >

    <div id="logo-group">
        <span id="logo"> <img src="styles/img/logo.png" alt="SmartAdmin"> </span>
    </div>

    <span id="extr-page-header-space"> <span class="hidden-mobile hiddex-xs">Precisa de uma conta?</span> <a
            ui-sref="register" class="btn btn-primary">Criar conta</a> </span>

</header>
<div id="main" role="main"  class="animated fadeInDown" >

    <div id="content" class="container">

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7 hidden-xs hidden-sm">
                <h1 class="txt-color-blue login-header-big">Sigraweb</h1>

                <div class="hero">
                    <div class="pull-left login-desc-box-l">
                        <h4 class="paragraph-header">Cadastre-se agora e ganhe um crédito para o desembaraço de 10 processos de importação através de nossa ferramenta!</h4>

                        <div class="login-app-icons">

                            <a href-void class="btn btn-primary btn-sm">Descubra mais</a>
                        </div>
                    </div>
                    <img src="styles/img/demo/iphoneview.png" class="pull-right display-image" alt style="width:210px">
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">Sobre o Sigraweb</h5>

                        <p>
                            O Sigraweb é uma ferramenta online para o gerenciamento e acompanhamento de operações de comércio exterior envolvendo o SISCOMEX.
                        </p>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                        <h5 class="about-heading">Muito mais do que confecção de processos!</h5>

                        <p>
                            O Sigraweb controla tudo! Do pré-alerta ao registro. Do numerário ao faturamento e emissão de NFS-e.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                <div class="well no-padding">
                    <form id="login-form" class="smart-form client-form" ng-submit="submit()" ng-show="mostraPainelRedefinicao">
                        <header>
                            Esqueci minha senha
                        </header>

                        <fieldset>

                            <section>
                                <label class="label">Por favor, digite seu email</label>
                                <label class="input"> <i class="icon-append fa fa-envelope"></i>
                                    <input type="email" name="email" ng-model="usuario.email">
                                    <b class="tooltip tooltip-top-right"><i class="fa fa-envelope txt-color-teal"></i> Um novo link de ativação será enviado para o seu email</b></label>
                            </section>
                           

                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary" ng-click="Submit">
                                <i class="fa fa-refresh"></i> Redefinir Senha
                            </button>
                        </footer>
                    </form>

                    <form id="login-form" class="smart-form client-form" ng-submit="submitConfirmacao()" ng-show="mostraPainelNovaSenha">
                        <header>
                            Confirmação de Recuperação de Senha
                        </header>

                        <fieldset>

                            <section>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="password" placeholder="Senha" id="password" ng-model="usuario.senhaNova"
                                    data-smart-validate-input
                                    data-required
                                    data-message-required="Por favor, informe uma senha"
                                    data-message-email="Por favor, informe um endereço válido">
                                    <b class="tooltip tooltip-bottom-right">Digite uma senha</b> </label>
                            </section>

                            <section>
                                <label class="input"> <i class="icon-append fa fa-lock"></i>
                                    <input type="password" name="passwordConfirm" placeholder="Confirmação de senha" ng-model="confirmacaoSenha">
                                    <b class="tooltip tooltip-bottom-right">Confirme sua senha</b> </label>
                            </section>
                           

                        </fieldset>
                        <footer>
                            <button type="submit" class="btn btn-primary" ng-click="Submit" ng-hide="confirmacaoSenha.length < 3 || usuario.senhaNova != confirmacaoSenha">
                                <i class="fa fa-refresh"></i> Confirmar
                            </button>
                        </footer>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>
</div>